body{
  background-color: #F4F4F4;
}

a{
  color: pink;
  text-decoration: none;
}

div.wrapper {
  padding: 20px 50px;
}
div.wrapper div.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: #B4DAC2;
}

div.wrapper div.header div.title h1 {
  margin: 0;
  font-size: 20px;
  padding: 8px 0px;
}

div.wrapper div.header div.menu a {
  color: black;
  margin: 0 10px;
  font-size: 20px;
  display: inline-block;
  background-color: #F4F4F4;
  padding: 8px;
}

div.wrapper div.header div.menu a:hover {
  color: black;
}
div.wrapper div.header div.menu a.active {
  background-color: #d5e8dc;
}

div.content.text {
  text-align: center;
}

div.content.gallery {
  display: grid;
  grid-template-columns: repeat(3,1fr);

}

div.content.gallery .box .text{
  padding: 10px;
}


div.content.gallery .box .image img{
  display: block;
  max-width: 100%;
  max-height: 70vh;
}

div.content.about-me{
  padding: 10px;
}
div.content.about-me .profil-picture{
  max-height: 200px;
}

div.content{
  background-color: #F4F4F4;
}

div.content.portfolio img.portfolio-size{
  max-height: 400px;
  display: block;
}

div.content.kontakt .mailbox{
  background-color: white;
  max-width: 300px;
  padding: 30px;
  text-align: center;
  font-size: 25px;
  margin: 20px auto;
}

div.footer{
  padding-top: 100px;
  background-color: #B4DAC2;
  padding: 2px 8px;
}
