body{
  background-color: white;
}

a{
  color: pink;
  text-decoration: none;
}

div.wrapper {
  padding: 20px 50px;
}
div.wrapper div.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 50px;
}

div.wrapper div.header div.title h1 {
  margin: 0;
  font-size: 16px;
}

div.wrapper div.header div.menu a {
  color: black;
  margin: 0 10px;
  font-size: 16px;
  display: inline-block;
}

div.wrapper div.header div.menu a:hover {
  color: #dc8609;
}

div.content.gallery {
  display: grid;
  grid-template-columns: repeat(3,1fr);

}

div.content.gallery .box .text{
  padding: 10px;
}


div.content.gallery .box .image img{
  display: block;
  max-width: 150%;
  height: 450px;
}

div.content.about-me{
  padding: 10px;
}
div.content.about-me .profil-picture{
  max-height: 200px;
}

div.content{
  background-color: white;
}

div.content.portfolio img.portfolio-size{
  max-height: 400px;
  display: block;
}

div.footer{
  padding-top: 100px;
}
